<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="develops.mad.productmanager">

    <application
        android:allowBackup="true"
        android:icon="@drawable/cart_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddProduct"
            android:screenOrientation="portrait"/>
        <activity android:name=".ShowProducts"
            android:screenOrientation="portrait"/>
        <activity android:name=".OrderPage"
            android:screenOrientation="portrait"/>
        <activity android:name=".FinalBill"
            android:screenOrientation="portrait">

        </activity>
    </application>

</manifest>